<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>Link Pendaftaran</title>
   <!-- font icons -->
   <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
   <!-- Bootstrap + Steller  -->
   <link rel="stylesheet" href="assets/css/leadmark.css">
</head>
<body>

   <!-- Page Header -->
   <header class="header header-mini"> 
      <div class="header-title">Pendaftaran Peserta Didik Baru</div> 
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item", style="color:white">Ma'had 'Aly Baitul Qur'an</a></li>
            <li class="breadcrumb-item active" aria-current="page", style="color: white">Wonogiri</li>
         </ol>
      </nav>
   </header> <!-- End Of Page Header -->

   <br>  
<div class="container"> 
        <div>
            <h1>Syarat Pendaftaran</h1>
            <h2>Syarat Umum</h2>
            <li>Muslim/Muslimah berusia 15-20 tahun</li>
            <li>Mampu membaca Al-Qur'an dengan baik dan benar</li>
            <li>Diutamakan memiliki hafalan Al-Qur'an minimal 2 juz</li>
            <li>Memiliki kemampuan bahasa arab (minimal pasif)</li>
            <li>Tidak terikat dengan lembaga manapun</li>
            <br>
            <h2>Syarat Administratif</h2>
            <li>Mengisi pendaftaran via google form setelah mendaftar melalui whatsapp</li>
            <li>Fotokopi legalisir Ijazah SLTA/sederajat</li>
            <li>Fotokopi KK & KTP </li>
            <li>Pas Foto berwarna 3x4 (4 lembar)</li>
            <li>Surat Rekomendasi tokoh/lembaga</li>
            <li>Surat izin orang tua/wali</li>
            <li>Membayar infaq pendaftaran Rp.300.022, ke Rekening; BSI : 7212639081 (a.n. PSB BAITUL QURAN)</li>
        </div>      
</div>
<br>
<div class="container">
    <div>
        <h1>Waktu Pendaftaran</h1>
        <li>Gelombang I  : 1 November s.d. 31 Desember 2022</li>
        <li>Gelombang II : 1 Februari s.d. 30 April 2023 (bila kuota belum terpenuhi)</li>
    </div>
</div>
<br>
<div class="container">
    <div>
        <h1>Cara Pendaftaran</h1>
        <li><a href="http://gununglawu.rf.gd/form.php">Klik Disini</a> untuk pendaftaran via onlen</li>
        <li>Atau datang langsung ke sekreariat pada hari :
            <p style="color:black">Senin - Sabtu, Pukul 07.00 - 15.00 WIB</p>
        </li>
    </div>
</div>
<br>
<div class="container">
    <div>
        <h1>Materi Tes</h1>
        <li>Lisan : Speed Hafalan, Al-Qur'an, Bahasa Arab, Tsaqofah</li>
        <li>Tulis : Al-Qur'an, Bahasa Arab, Wawancara</li>
    </div>
</div>
<div class="container">
    <div>
        <h1>Kuota Pendaftar</h1>
        <li>Putra : 30 Orang</li>
        <li>Putri : 30 Orang</li>
    </div>
</div>

<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© FarisAddifa, Web Developer</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>





